@charset "utf-8";

/****************** 레이아웃 ******************/
html{height:100%;font-size:3.3333vw;}
body{height:100%;overflow-y:scroll;}
.wrap{min-width:280px;height:100%;}
.inner{margin:0 5.5556vw;}
.container{padding-top:22.7778vw;min-height:100%;} /* 세로 100% - 상단패딩 16vw */

.btn{width:10vw;height:10vw;box-shadow:0px 2px 4px 0px rgba(0,0,0,0.3);border-radius:3.3333vw;}
/****************** 상단 ******************/
/* 헤더 */
.header{position:fixed;top:0;left:0;width:100%;height:15.8333vw;background:#fff;display:flex;flex-wrap:wrap;align-content:center;z-index:10;}
.header .inner{position:relative;width:100%;margin:2.2222vw 5.5556vw 0 5.5556vw;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;}
.header .logo{width:16.6667vw;height:13.6111vw;background:url("../../images/common/logo.svg") no-repeat 0 0/100%;}
.header .id{width:10vw;height:10vw;box-shadow:0px 10px 30px 0px rgba(255,197,41,0.3);}
.header .btn_menu_open{background:url("../../images/common/icon_menu.svg") no-repeat 50% 50%/3.4722vw 3.0556vw;}

/* 검색 */
.search_wrap{position:relative;width:100%;height:100%;}
.search_wrap .search_content{position:relative;margin:0 6.4vw;}
.search_wrap .search_content .search_bar{display:flex;width:100%;height:100%;}
.search_wrap .search_content .search_bar form{width:100%;}
.search_wrap .search_content .search_bar .search_result{width:100%;height:16.6667vw;padding-left:12.9167vw;background:#F1F4F6;border-radius:2.7778vw;}
.search_wrap .search_content .search_bar .btn_allsearch{position:absolute;top:38%;left:5.5556vw;width:4.7222vw;height:4.1667vw;background:url("../../images/common/icon_search_01.svg") no-repeat 0 0/100%;}

/****************** 메인 내용 ******************/
/* 메인타이틀 */
.main .sect_title{position:relative;display:flex;justify-content:space-between;margin-bottom:5.5556vw;}
.main .sect_title h2{font-size:4.1667vw;color:#222;font-weight:700;}
.main .sect_title .btn_view{position:relative;color:#093968;font-weight:700;}
.main .sect_title .btn_view a{color:#093968;}
.main .sect_title .btn_view:after{content:'';display:inline-block;width:1.3889vw;height:3.0556vw;margin-left:2vw;vertical-align:text-bottom;background:url("../../images/common/icon_arrow_01.svg") no-repeat 0 0/100%;}

.slider_visual{margin:6.9444vw 5.5556vw 0 5.5556vw !important;}
.slider_visual img{width:100%;}
.slider_visual .swiper-pagination{width:auto !important;right:0;margin:0 6.4vw;bottom:1.5vw !important;}
.slider_visual .swiper-pagination-bullet{width:1.333vw;height:1.333vw;background:#fff;opacity:.6;}
.slider_visual .swiper-pagination-bullet-active{width:4.267vw;background:#222;border-radius:10vw;opacity:1;}

/* 자주가는 매장 */
.main_favorite_store{margin:6.9444vw 0;}
.main_favorite_store .store_list li{margin-bottom:6.3889vw;}
.main_favorite_store .store_list a{position:relative;display:flex;}
.main_favorite_store .store_list .thumb_img{position:relative;width:27.0833vw;height:27.0833vw;margin-right:4.7222vw;border-radius:5.5556px;overflow:hidden;}
.main_favorite_store .store_list .thumb_img img{width:100%;}
.main_favorite_store .store_list .thumb_img .mark{position:absolute;top:2.2222vw;left:2.2222vw;width:4.1667vw;height:3.75vw;background:url("../../images/common/icon_favorite_on.svg") no-repeat 0 0/100%;}
.main_favorite_store .store_list .thumb_img .mark.on{background:url("../../images/common/icon_favorite.svg") no-repeat 0 0/100%;box-shadow:0px 10px 30px 0px rgba(0,0,0,0.3);}
.main_favorite_store .store_list .text_wrap{width:56.9444vw;}
.main_favorite_store .store_list .text_wrap .title{display:flex;justify-content:space-between;font-size:3.6111vw;font-weight:700;color:#222;}
.main_favorite_store .store_list .text_wrap .title .distance{color:#093968;}
.main_favorite_store .store_list .text_wrap .desc{display:flex;flex-wrap:wrap;font-size:3.3333vw;color:#222;}
.main_favorite_store .store_list .text_wrap .desc dt{width:10%;margin-top:1.3889vw;}
.main_favorite_store .store_list .text_wrap .desc dt img{width:3.3333vw;}
.main_favorite_store .store_list .text_wrap .desc dd{width:90%;margin-top:1.3889vw;}

/* 이벤트 배너 */
.main_event_banner li{margin-bottom:5.5556vw;}

/* 내주변 매장 포트폴리오 */
.main_section_portfolio{background:#fff;padding:16vw 0;}
.portfolio_wrap{}
.portfolio_wrap .portfolio_tab{display:flex;justify-content:space-between;flex-wrap:wrap;margin-bottom:8vw;}
.portfolio_wrap .portfolio_tab li{text-align:center;cursor:pointer;font-size:3.733vw;color:#999;background:#F0F0F0;padding:1.7vw 3.8vw;border-radius:18px;}
.portfolio_wrap .portfolio_tab li:hover,
.portfolio_wrap .portfolio_tab li.on{color:#fff;font-weight:500;background:#222;}
.portfolio_wrap .content{display:none;}
.portfolio_wrap .content.on{display:block;}
.portfolio_wrap .portfolio_content li{margin-bottom:6.4vw;}
.portfolio_wrap .portfolio_content li figure{position:relative;border-radius:4px;overflow:hidden;}
.portfolio_wrap .portfolio_content li figure img{width:100%;}
.portfolio_wrap .portfolio_content li figure .text{position:absolute;bottom:0;left:0;width:100%;background:rgba(0, 0, 0, .15);padding:2.7vw 1vw 2.5vw 1vw;font-size:3.733vw;color:#fff;text-align:center;} 


/****************** 서브 내용 ******************/
/* 서브컨텐츠 */


/* 최근본매장 */
/* .container .store_list{padding-top:10.667vw;}
.container .store_list li{margin-bottom:6.4vw;}
.container .store_list li a{display:flex;}
.container .store_list li .thumb_img{position:relative;width:32vw;height:32vw;margin-right:3.2vw;border-radius:8px;overflow:hidden;}
.container .store_list li .thumb_img img{width:100%;}
.container .store_list li .thumb_img .mark{position:absolute;top:0;right:0;padding:1.5vw 2.8vw;font-size:3.2vw;color:#fff;background:rgba(255, 193, 7, .8);text-align:center;border-top-right-radius:7px;border-bottom-left-radius:8px;}
.container .store_list li .content_wrap{position:relative;}
.container .store_list li .content_wrap .category{display:inline-block;font-size:2.667vw;color:#333;border:1px solid #666;border-radius:20px;padding:1.333vw 3.2vw;margin-bottom:3.3vw;}
.container .store_list li .content_wrap .title{font-size:4.267vw;font-weight:700;color:#222;margin-bottom:0.5vw;}
.container .store_list li .content_wrap .address{font-size:3.733vw;}
.container .store_list li .content_wrap .rate{position:relative;font-size:3.733vw;font-weight:600;color:#666;padding-left:5.5vw;margin-top:1.6vw;}
.container .store_list li .content_wrap .rate:before{content:'';position:absolute;top:0;left:0;width:4.8vw;height:4.8vw;background:url("../../images/common/icon_star.png") no-repeat 0 0/100%;}
.container .store_list li .content_wrap .btn_del{position:absolute;top:0;right:0;width:4.8vw;height:4.8vw;background:url("../../images/common/icon_close.png") no-repeat 0 0/100%;} */

/* 최근본매장, 내주변 지도로 보기 - 레이어팝업 */
.pop_wrap{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.7);opacity:0;visibility:hidden;z-index:-1;transition:opacity 200ms 200ms ease, transform 300ms 250ms ease}
.pop_wrap.active{opacity:1;z-index:1998;visibility:visible;overflow:auto;-webkit-overflow-scrolling:touch;}
.pop_wrap .pop_inner{width:100%;min-height:100%;display:flex;justify-content:center;align-items:center;box-sizing:border-box}
.pop_wrap .pop_content{position:relative;width:85.333vw;padding:3.2vw 2vw;font-size:3.733vw;line-height:1.3;text-align:center;box-shadow:3px 3px 20px 0 rgba(0,0,0,.07);border-radius:8px;background-color:#fff;}
.pop_wrap .pop_content p{min-height:20vw;padding:10vw 0;}
.pop_wrap .btn_wrap{display:flex;justify-content:center;margin-top:3vw;}
.pop_wrap .btn_wrap .btn_cancle{display:block;width:38vw;padding:3.6vw 0;margin-right:2vw;background:#F0F0F0;color:#222;border-radius:8px;}
.pop_wrap .btn_wrap .btn_confirm{display:block;width:38vw;padding:3.6vw 0;background:#FF781E;color:#fff;border-radius:8px;}
.pop_wrap .btn_wrap .btn_confirm.type2{width:96%;padding:3.6vw 0;}

/* 위치지정 */
.location_warp{position:relative;}
.location_warp .add_search{position:absolute;top:22.4vw;left:6.4vw;right:6.4vw;height:12.8vw;background:#fff;box-shadow:5px 10px 11px 0px rgba(0,0,0,.07);border-radius:4px;z-index:10;display:flex;align-items:center;}
.location_warp .add_search form{}
.location_warp .add_search .search_result{width:100%;}
.location_warp .add_search .btn_allsearch{width:5.333vw;height:5.333vw;font-size:3.733vw;margin:0 1.6vw 0 3.2vw;background:url("../../images/common/icon_search_02.png") no-repeat 0 0/100%;}
.location_warp .add_search .btn_cancle{display:block;width:38vw;padding:3.6vw 0;margin-right:2vw;background:#F0F0F0;color:#222;border-radius:8px;}
.location_warp .btn_setting_end{position:absolute;bottom:10.667vw;left:6.4vw;right:6.4vw;min-height:13.867vw;background:#FF781E;color:#fff;border-radius:8px;font-size:4.267vw;z-index:10;}
.location_warp .location_my{position:absolute;bottom:30.667vw;left:50%;transform:translateX(-50%);background:rgba(0,0,0,0.7);color:#fff;border-radius:100px;padding:1.8vw 3.6vw;z-index:10;}
.location_warp #daumRoughmapContainer1646313246227{width:100vw !important;height:100vh !important;margin-top:-16vw;}
.location_warp #daumRoughmapContainer1646313246227 .wrap_map{height:100vh !important;}

/* 주소검색 - 기본 */
.address_search_wrap{background:#fafafa;padding:8vw 0;}
.address_search_wrap .text{font-size:4.8vw;color:#222;padding-bottom:6.4vw;}
.address_search_wrap .add_search{position:relative;height:12.8vw;background:#fff;border:1px solid #333;border-radius:4px;display:flex;align-items:center;}
.address_search_wrap .add_search fieldset{width:100%;}
.address_search_wrap .add_search .search_result{width:100%;}
.address_search_wrap .add_search .btn_allsearch{width:5.333vw;height:5.333vw;font-size:3.733vw;margin:0 1.6vw 0 3.2vw;background:url("../../images/common/icon_search_02.png") no-repeat 0 0/100%;}
.address_search_wrap .add_search .btn_cancle{position:absolute;top:3.8vw;right:3.2vw;width:4.8vw;height:4.8vw;background:url("../../images/common/icon_close.png") no-repeat 0 0/100%;}

/* 주소검색 - 최근검색 */
.recently_search_wrap{padding:10.667vw 0;}
.recently_search_wrap .text{position:relative;border-bottom:1px solid #1a1a1a;padding-bottom:3.2vw;}
.recently_search_wrap .text p{font-size:4.267vw;font-weight:700;color:#222;}
.recently_search_wrap .text .btn_alldel{position:absolute;top:-1.2vw;right:0;font-size:3.2vw;padding:3vw;}
.recently_search_wrap .recently_list li{position:relative;border-bottom:1px solid #EDEDED;padding:4.8vw 0;font-size:3.733vw;}
.recently_search_wrap .recently_list .btn_delete{position:absolute;top:5vw;right:0;width:4.8vw;height:4.8vw;background:url("../../images/common/icon_close.png") no-repeat 0 0/100%;}

/* 주소검색 - 지역검색시 */
.area_search_wrap{padding:10.667vw 0;}
.area_search_wrap .area_list li{padding:4.533vw 0;font-size:3.733vw;}

/* 주소검색 - 검색결과 없음 */
.search_results_wrap{padding:25.867vw 0;text-align:center;font-size:3.733vw;}

/* 내주변 - 리스트 */
/* .container .store_list{padding:20vw 0 5vw;}
.container .store_list li{}
.container .store_list a{position:relative;}
.container .store_list .thumbimg{position:relative;}
.container .store_list .thumbimg img{width:100%;}
.container .store_list .thumbimg .mark{position:absolute;top:0;right:0;width:13.867vw;padding:2.5vw 0;font-size:3.2vw;color:#fff;background:rgba(255, 193, 7, .8);text-align:center;border-top-right-radius:7px;border-bottom-left-radius:8px;}
.container .store_list .text_wrap{margin:3.2vw 0 6.4vw 0;}
.container .store_list .text_wrap .title{font-size:4.8vw;font-weight:700;color:#1A1A1A;}
.container .store_list .text_wrap .rate{position:relative;font-size:3.733vw;font-weight:500;color:#666;padding-left:5.5vw;margin:2.1vw 0 2vw 0;}
.container .store_list .text_wrap .rate:before{content:'';position:absolute;top:0;left:0;width:4.8vw;height:4.8vw;background:url("../../images/common/icon_star.png") no-repeat 0 0/100%;}
.container .store_list .text_wrap .rate .rate_all{color:#333;font-weight:600;}
.container .store_list .text_wrap .desc{font-size:3.733vw;}
.container .store_list .text_wrap .category{display:inline-block;font-size:2.8vw;color:#333;border:1px solid #666;border-radius:20px;padding:1.333vw 3.2vw;margin-top:3.2vw;} */

/* 내주변 - 리스트 : 토스트배너 4개 */
.category_box{display:none;position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:999;}
.category_box .category_content{position:absolute;bottom:-150px;left:0;width:100vw;padding:8.533vw 6.4vw 10.667vw;font-size:3.733vw;line-height:1.3;box-shadow:3px 3px 20px 0 rgba(0,0,0,.07);border-radius:12px 12px 0 0;background-color:#fff;}
.category_box .category_content p{font-size:4.267vw;font-weight:700;color:#1A1A1A;margin-bottom:4.2vw;}
.category_box .btn_close{position:absolute;top:6vw;right:6.4vw;display:block;padding:5vw;background:url("../../images/common/icon_close.png") no-repeat 50% 50%/50%;}
.category_box .dim_bg{position:absolute;top:0;left:0;width:100vw;height:100vh;background:rgba(0,0,0,0.7);}

.cate_service{display:flex;flex-wrap:wrap;justify-content:space-between;}
.cate_service li{position:relative;width:41.6vw;height:100%;margin-bottom:4vw;}
.cate_service li input{width:100%;height:100%;left:0;top:0;clip:auto;opacity:0}
.cate_service li .text{position:absolute;bottom:3.2vw;left:3.2vw;display:block;font-size:3.733vw;font-weight:500;color:#fff;}
.cate_service li input+label{display:block;position:relative;width:100%;cursor:pointer;border-radius:8px;overflow:hidden;}
.cate_service li input:checked+label{position:relative;}
.cate_service li input:checked+label:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;border-radius:8px;border:4px solid #FF781E;box-sizing:border-box;}

.cate_amenities{display:flex;flex-wrap:wrap;justify-content:space-between;}
.cate_amenities li{position:relative;height:100%;margin:0 0 4.267vw 0;}
.cate_amenities li input{width:100%;height:100%;left:0;top:0;clip:auto;opacity:0}
.cate_amenities li input+label{display:block;position:relative;width:100%;cursor:pointer;border-radius:100px;padding:2.133vw 3.2vw;font-size:3.733vw;font-weight:500;color:#1A1A1A;border:1px solid #F4F4F4;background:#F4F4F4;}
.cate_amenities li input:checked+label{position:relative;color:#FF781E;border-radius:100px;border:1px solid #FF781E;background:#fff;}
.category_content .btn_wrap{display:flex;justify-content:space-between;margin-top:4vw;}
.category_content .btn_wrap .btn_reset{display:block;width:25.867vw;padding:3.733vw 0;margin-right:2vw;background:#fff;font-size:4.267vw;color:#1A1A1A;text-align:center;border-radius:8px;}
.category_content .btn_wrap .btn_confirm{display:block;width:59.2vw;padding:3.733vw 0;background:#FF781E;color:#fff;font-size:4.267vw;text-align:center;border-radius:8px;}

.cate_sort{}
.cate_sort li{position:relative;width:100%;height:100%;}
.cate_sort li input{width:100%;height:100%;left:0;top:0;clip:auto;opacity:0}
.cate_sort li input+label{display:block;position:relative;width:100%;cursor:pointer;border-radius:100px;padding:4.267vw 0;font-size:3.733vw;font-weight:500;color:#1A1A1A;}
.cate_sort li input:checked+label{position:relative;color:#FF781E;font-weight:700;}
.cate_sort li input:checked+label:after{content:'';position:absolute;top:2.5vw;right:0;width:6.4vw;height:6.4vw;background:url("../../images/common/icon_check.png") no-repeat 0 0/100%;}

/* 내주변 - 리스트 : 해당 매장이 없을시 */
.container .store_list_result{height:100vh;margin:-16vw 0;display:flex;align-content:center;flex-wrap:wrap;justify-content:center;text-align:center;}

/* 내주변 - 지도보기 */
.map_warp{}
.map_warp #daumRoughmapContainer1646313246227{width:100vw !important;height:100vh !important;margin-top:-16vw;}
.map_warp #daumRoughmapContainer1646313246227 .wrap_map{height:100vh !important;}

/* 내주변 - 지도보기 : 리스트 */
.map_warp .slider_map_list{position:absolute;bottom:26vw;left:0;width:100%;display:flex;z-index:50;} 
.slider_map_list .swiper-slide {position:relative;display:flex;}
.slider_map_list .swiper-slide a {display:flex;width:100%;background:#fff;border-radius:8px;overflow:hidden;padding:5.333vw;box-shadow:0px 7px 15px 0px rgba(0,0,0,0.09);}
.slider_map_list .swiper-slide .thumbimg{position:relative;width:32vw;height:32vw;margin-right:3.2vw;border-radius:8px;overflow:hidden;}
.slider_map_list .swiper-slide .thumbimg img{width:100%;}
.slider_map_list .swiper-slide .thumbimg .mark{position:absolute;top:0;right:0;padding:1.5vw 2.8vw;font-size:3.2vw;color:#fff;background:rgba(255, 193, 7, .8);text-align:center;border-top-right-radius:7px;border-bottom-left-radius:8px;}
.slider_map_list .swiper-slide .content_wrap{position:relative;}
.slider_map_list .swiper-slide .content_wrap .category{display:inline-block;font-size:2.667vw;color:#333;border:1px solid #666;border-radius:20px;padding:1.333vw 3.2vw;margin-bottom:3.3vw;}
.slider_map_list .swiper-slide .content_wrap .title{font-size:4.267vw;font-weight:700;color:#1A1A1A;margin-bottom:0.5vw;}
.slider_map_list .swiper-slide .content_wrap .address{font-size:3.733vw;}
.slider_map_list .swiper-slide .content_wrap .rate{position:relative;font-size:3.733vw;font-weight:600;color:#666;padding-left:5.5vw;margin-top:1.6vw;}
.slider_map_list .swiper-slide .content_wrap .rate:before{content:'';position:absolute;top:0;left:0;width:4.8vw;height:4.8vw;background:url("../../images/common/icon_star.png") no-repeat 0 0/100%;}

/* 내주변 - 지도보기 : 위치정보 설정하기 */
.map_setting_warp{height:100vh;margin:-16vw 0;display:flex;align-content:center;flex-wrap:wrap;justify-content:center;text-align:center;flex-direction: column;}
.map_setting_warp .btn_map_setting{display:block;padding:3.733vw 5.333vw;background:#FF781E;color:#fff;border-radius:100px;font-size:3.733vw;margin-top:6.4vw;}